{% extends "index/layout.html" %}
{% load static%}
{% block main%}
<link rel="stylesheet" href="{% static 'module.css' %}?{% now "U" %}">
<title>Manual_Mode</title>
</head>
<body>
<div class="animate__animated animate__backInRight">
<div class="container">
<div id="text">
<h1>Manual mode <p style="color:red;display:inline">Activated</p></h1>
<div id="instruction">
<p>Put your Seat belt properly</li>
<p>Adjust your side mirrors</p>
</div><a href="{% url 'map' %}"><button class="btn btn-dark btn-lg-6 btn-block" id="but_ok">Ok</button></a>
</div>
<script src="{% static 'js/aija1.js'%}" type="text/javascript"></script>
</div></div>
{% endblock%}